<?xml version="1.0"?>
<launch>

  <!-- Parameters -->
  <param name="/use_sim_time" value="true"/>

  
  <!-- Cave explorer autonomy -->
  <node pkg="cave_explorer" type="cave_explorer.py" respawn="false" name="cave_explorer" output="screen">
    <param name="computer_vision_model_filename" type="string" value="$(find cave_explorer)/config/stop_data.xml"/>
  </node>

</launch>
